@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&family=Zen+Maru+Gothic&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "gapyeong-hanseokbong";
  src: url("/fonts/GapyeongHanseokbongB.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "gapyeong-hanseokbong";
  src: url("/fonts/GapyeongHanseokbongR.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "gapyeong-hanseokbong";
  src: url("/fonts/GapyeongHanseokbongL.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@theme {
  --font-zen-antique: "Zen Antique", sans-serif;
  --font-zen-maru-gothic: "Zen Maru Gothic", sans-serif;
}

:root {
  --background: #f3f2ef;
  --foreground: #000000;
}

@theme inline {
  --breakpoint-xs: 448px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "gapyeong-hanseokbong", Arial, Helvetica, sans-serif;
}
